.detector {
  background-color: rgb(110, 230, 110);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 40px;
  letter-spacing: 1px;
  border-radius: 10px;
  width: 50%;
  margin: 20px auto;
  box-shadow: 0px 0px 10px rgb(0, 60, 0);
}

.btn-check, .file-upload {
  background-color: rgb(10, 100, 10);
  color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-check:hover {
background-color: rgb(185, 255, 185);
border: 2px solid rgb(0, 75, 0);
color:rgb(0, 75, 0);
}

.btn-check:active {
background-color: rgb(255, 255, 255);
border: 2px solid rgb(0, 75, 0);
color:rgb(0, 75, 0);
}

.result {
  background-color: white;
  width: 250px;
  margin: 15px auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.result p {
  font-size: 14px;
  font-weight: bold;
}
